@import url("https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap");
#Hi {
  font-family: "Poppins", sans-serif;
}

.Logout {
  position: absolute;
  bottom: 20px;
  left: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  text-decoration: none;
}
.Logout p {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: black;
  display: flex;
  flex-direction: column;
}
body .stock-middle {
  width: 950px;
}
body .stock-middle .stock-transactions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
body .stock-middle .stock-transactions .stock-text-transactions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
}
body .stock-middle .stock-graph {
  margin-top: 20px;
}
body .stock-middle .stock-graph .graph {
  background-color: #303541;
  border-radius: 30px;
  width: 100%;
  height: 450px;
}
body .stock-balance {
  align-items: center;
  display: flex;
  flex-direction: row;
}
body .stock-balance .stock-directions {
  margin-left: 60px;
  align-items: center;
  background-color: #292727;
  border-radius: 17px;
  padding: 8px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  gap: 35px;
}
body .stock-balance .stock-directions .SPECIAL {
  background-color: black;
  border-radius: 17px;
  padding: 5px;
}
body .stock-balance .stock-directions a {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body .stock-balance .stock-interbalance {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
body .stock-balance .stock-interbalance p {
  font-family: "Poppins", sans-serif;
}
body .stock-balance .btc-stock {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
body .stock-balance .btc-stock p {
  font-size: 29px;
}
body .stock-balance .Text-balance1 {
  font-family: "Poppins", sans-serif;
}
body .section-main {
  display: flex;
  flex-direction: column;
}
body .section-main nav {
  padding-left: 60px;
  padding-right: 20px;
  margin-top: 30px;
  align-items: center;
}
body .section-main nav .stock-searchbar {
  width: 470px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  background-color: white;
  gap: 5px;
}
body .section-main nav .stock-searchbar input {
  color: black;
  border: 0;
  outline: 0;
  border-radius: 0 15px 15px 0;
}
body .section-main nav .stock-searchbar input::placeholder {
  font-family: "Inter", sans-serif;
  color: black;
  font-size: 20px;
  align-items: center;
}
body .section-main nav .stock-searchbar img {
  align-items: center;
  margin-left: 23px;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 30px;
}
body .section-main .section-content {
  display: flex;
  flex-direction: row;
  margin-top: 35px;
  gap: 30px;
}
body .section-main .section-content .btn-left {
  width: 253px;
  margin-left: 85px;
  margin-top: 70px;
}
body .section-main .section-content .btn-left .stock-dashboard {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 30px;
  margin-top: 30px;
}
body .section-main .section-content .btn-left .left-icon {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 5px;
  text-decoration: none;
}
body .section-main .section-content .btn-left .left-icon p {
  font-family: "Poppins", sans-serif;
}
body .section-main .section-content .btn-left .btn-dashboard {
  display: flex;
  flex-direction: row;
  width: 100%;
  background: linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
  border-radius: 17px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  gap: 17px;
}
body .section-main .section-content .btn-left .btn-dashboard p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: black;
}
body .section-main .section-content .btn-left .btn-dashboard:hover {
  cursor: pointer;
}

.flex-transactions {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.recent-transactions2 h2 {
  font-family: "Poppins", sans-serif;
}

.stock-assets {
  margin-top: 15px;
  width: 100%;
}
.stock-assets .sous-stock-assets {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.text-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fade1 {
  font-family: "Inter", sans-serif;
  padding: 20px;
  background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
  border-radius: 30px;
}

.fade2 {
  font-family: "Inter", sans-serif;
  padding: 20px;
  background: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
  border-radius: 30px;
}

.stock-transactions2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  font-family: "Inter", sans-serif;
}
.stock-transactions2 .width-box {
  width: 90px;
}
.stock-transactions2 img {
  aspect-ratio: 1/1;
  object-fit: contain;
}
.stock-transactions2 .blue {
  color: blue;
}
.stock-transactions2 .green {
  color: green;
}
.stock-transactions2 .red {
  color: red;
}
.stock-transactions2 .purple {
  color: purple;
}

.stock-crypto {
  height: 70px;
  align-items: center;
  background-color: #20232B;
  opacity: 70%;
  padding: 10px;
  backdrop-filter: blur(8px);
  border-radius: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: "Inter", sans-serif;
}
.stock-crypto .btn-trade {
  background-color: black;
  color: white;
  border-radius: 30px;
  padding: 8px;
  padding-left: 14px;
  padding-right: 14px;
  font-family: "Inter", sans-serif;
}
.stock-crypto .blue {
  color: blue;
}
.stock-crypto .green {
  color: green;
}
.stock-crypto .red {
  color: red;
}
.stock-crypto .purple {
  color: purple;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/*# sourceMappingURL=style.css.map */
