@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@500&display=swap');



#Hi{
    font-family: 'Poppins', sans-serif;
}

.Logout{
    position: absolute;
    bottom: -140px;
    left: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    p{
        font-family: 'Inter', sans-serif;
    }
}


*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body{
    background-color: black;
    display: flex;
    flex-direction: column;
    .stock-middle{
        width: 100vw;
        .flex-search{
            align-items: baseline;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        .stock-transactions{
            display: flex;
            flex-direction: column;
            gap: 18px;
            
            .stock-text-transactions{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-left: 20px;
                padding-right: 20px;
                margin-top: 30px;
                font-family: 'Poppins',sans-serif;
            }
        }
        .stock-graph{
            margin-top: 20px;
            .graph{
                background-color: #303541;
                border-radius: 30px;
                width: 100%;
                height: 500px;
            }
        }
    }
    .stock-balance{
        margin-top: 70px;
        align-items: center;
        display: flex;
        flex-direction: row;
        .stock-directions{
            margin-left: 60px;
            align-items: center;
            background-color: #292727;
            border-radius: 17px;
            padding: 8px;
            padding-left: 12px;
            padding-right: 12px;
            display: flex;
            flex-direction: row;
            gap: 35px;
            .SPECIAL{
                background-color: black;
                border-radius: 17px;
                padding: 5px;
            }
            a{
                text-decoration: none;
                font-family: 'Poppins', sans-serif;  
            }
        }
        .stock-interbalance{
            display: flex;
            flex-direction: column;
            gap: 15px;
            p{
                font-family: 'Poppins', sans-serif;  
            }
        }
        .btc-stock{
            display: flex;
            flex-direction: row;
            gap: 5px;
            p{
                font-size: 29px;
            }
        }
        .Text-balance1{
            font-family: 'Poppins', sans-serif;
            opacity: 80%;
        }
        .Text-balance2{
            font-family: 'Poppins', sans-serif;
            opacity: 70%;
        }
    }
    .section-main{
        display: flex;
        flex-direction: column;
        nav{
            padding-left: 60px;
            padding-right: 20px;
            margin-top: 30px;
            align-items: center;
            
        }
        .section-content{
            display: flex;
            flex-direction: row;
            margin-top: 35px;
            gap: 30px;
            .btn-left{
                width: 253px;
                margin-left: 85px;
                .stock-dashboard{
                    display: flex;
                    flex-direction: column;
                    gap: 22px;
                    margin-left: 30px;
                    margin-top: 50px;
                    opacity: 80%;
                }
                .left-icon{
                    align-items: center;
                    display: flex;
                    flex-direction: row;
                    gap: 5px;
                    text-decoration: none;
                    p{
                        font-family: 'Poppins', sans-serif;
                    }
                }
                .btn-dashboard{
                    margin-top: 110px;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    border: black;
                    background:linear-gradient(266.37deg, #FAFF00 -5.82%, #FAFF00 15.95%, #1970D6 41.2%, #6C1182 72.88%);
                    border-radius: 17px;
                    padding-left: 29px;
                    padding-right: 29px;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    align-items: center;
                    gap: 17px;
                    p{
                        font-family: 'Poppins', sans-serif;
                        font-size: 25px;
                        color: black;
                    }
                }
                .btn-dashboard:hover{
                    cursor: pointer;
                }
            }
        }
    }
}
.flex-transactions{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.recent-transactions2{
    min-width: 380px;
    padding-right: 40px;
    h2{
        font-family: 'Poppins',sans-serif;
    }
    .nav-transac{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 70px;
        .bozo{
            width:37px;
            height: 41px;
        }
    }
}

.stock-assets{
    margin-top: 15px;
    width: 100%;
    .sous-stock-assets{
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

.text-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fade1{
    font-family: 'Inter',sans-serif;
    padding: 20px;
    background: linear-gradient(98.73deg, #611D8D 35.75%, #2F7EC1 73.26%);
    border-radius: 30px;
}

.fade2{
    font-family: 'Inter',sans-serif;
    padding: 20px;
    background: linear-gradient(99.56deg, #FAFF00 35.82%, #29ABE2 64.75%, rgba(255, 255, 255, 0.7) 91.33%);
    border-radius: 30px;
}

.stock-transactions2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 35px;
    font-family: 'Inter',sans-serif;
    .width-box{
        width: 90px;
    }
    img{
        aspect-ratio: 1/1;
        object-fit: contain;
    }
    .blue{
        color: blue;
    }
    .green{
        color: green;
    }
    .red{
        color: red;
    }
    .purple{
        color: purple;
    }
}


.stock-crypto{
    height: 70px;
    align-items: center;
    background-color: #20232B;
    opacity: 70%;
    padding: 10px;
    backdrop-filter: blur(8px);
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Inter',sans-serif;
    .btn-trade{
        background-color: black;
        color: white;
        border-radius: 30px;
        padding: 8px;
        padding-left: 14px;
        padding-right: 14px;
        font-family: 'Inter',sans-serif;
    }
    .blue{
        color: blue;
    }
    .green{
        color: green;
    }
    .red{
        color: red;
    }
    .purple{
        color: purple;
    }
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stock-searchbar{
    width: 470px;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    background-color: white;
    gap: 5px;
    margin-right: 70px;
    input{
        color: black;
        border: 0;
        outline: 0;
        border-radius: 0 15px 15px 0;
        &::placeholder{
            font-family: 'Inter', sans-serif;
            color: black;
            font-size: 20px;
            align-items: center;
        }
    }
    img{
        align-items: center;
        margin-left: 23px;
        margin-top: 10px;
        margin-bottom: 10px;
        height: 30px;
    }
}

.black{
    color: black;
}